<div class="card-row">
  <h1>Jacks or Better</h1>
</div>
<div class="card-row">
  <span class="em">Coins:&nbsp;</span><span>{{ coins }}</span>
</div>
<div class="card-row" *ngIf="handValue !== undefined && handValue.displayName !== ''">
  <span class="em">{{ handValue.displayName }}:&nbsp;</span><span>{{ handValue.payouts[currentBet] }}</span>
</div>
<div *ngIf="!gameIsOver">
  <div class="card-row">
    <span *ngFor="let card of drawnCards; let i = index"
      class="card" 
      [ngClass]="{ 'red': card.suit === '♥', 'blue': card.suit === '♦', 'green': card.suit === '♣', 'selected': unselectedCardIndices.indexOf(i) < 0 }"
      (click)="toggleSelectedCard(i)">
        {{ card.displayValue }}
    </span>
  </div>
  <div class="card-row" *ngIf="!gameHasStarted">
    <div>
      <span>Bet:&nbsp;</span>
    </div>
    <div>
      <button (click)="setBet(1)" *ngIf="coins >= 1">1 coin</button>
      <button (click)="setBet(2)" *ngIf="coins >= 2">2 coins</button>
      <button (click)="setBet(3)" *ngIf="coins >= 3">3 coins</button>
      <button (click)="setBet(4)" *ngIf="coins >= 4">4 coins</button>
      <button (click)="setBet(5)" *ngIf="coins >= 5">5 coins</button>
    </div>
  </div>
  <div>
    <div class="card-row" *ngIf="gameHasStarted">
      <button type="button" (click)="drawNewCards()">{{ hasDrawn ? 'New game' : 'Draw' }}</button>
    </div>
    <!-- <div class="card-row"> -->
    <!--   <span>Coins: {{ coins }}</span> -->
    <!-- </div> -->
    <!-- <div *ngIf="handValue !== undefined && handValue.displayName !== ''" class="card-row"> -->
    <!--   <span class="em">{{ handValue.displayName }}:&nbsp;</span><span>{{ handValue.payouts[currentBet] }}</span> -->
    <!-- </div> -->
  </div>
</div>
<div class="card-row" *ngIf="gameIsOver">
  <div class="card-row">
    <span>Game over!</span>
  </div>
  <div class="card-row">
    <button (click)="restartGame()">Restart</button>
  </div>
</div>
<div class="card-row margin-top-2rem">
  <button (click)="togglePayouts()">{{ showPayouts ? 'Hide' : 'Show' }} payouts</button>
</div>
<div class="card-row" *ngIf="showPayouts">
  <app-payouts></app-payouts>
</div>
